---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		
		<h1>Welcome to my Website</h1>
		<p style="color:blue;">This paragraph is blue</p>
		<p style="color:red;">This paragraph is red</p>
	<h2>This is a subheading</h2>
	<ul>
		<li>My favorite is maroon</li>
		<li>My height is 173cm</li>
		<li>My nickname is Cheche</li>
	</ul>
	<h3>Here is a picture I found on the internet</h3>
	<a href="https://images.app.goo.gl/X6tu3iSkxoFYRywm7"><img src="Desktop/sunset.jpg">alt="a picture of sunset"></a>

	</body>
</html>
